<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Update</title>
</head>
<body>
    <p>Hello {{ username }},</p>

    <p>We received a request to change the credentials for your account.</p>

    <p>Please follow the link below to proceed with your request:</p>

    <p>
        <a href="{{ host }}api/auth/reset_password/{{ token }}">
            Click here to continue
        </a>
    </p>

    <p>If you did not make this request, no further action is required.</p>

    <br>
    <p>Best regards,<br>Support Team</p>
</body>
</html>